
h1 {
    background-color: burlywood;
    text-align: center;
}

#adder {
    display: flex;
    width: 100vw;
    height: 20vw;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

#input-task {
    width: 50%;
    height: 20%;
}

#add-task-button {
    height: 20%;
}

#tasks {
    display: flex;
    justify-content: center;
}

input[type=checkbox]:checked + span {
    text-decoration: line-through;
}